.content {
    width: 100%;
    color:rgb(237, 236, 236);
    height: 100%;
    padding:3%;
    overflow: auto;
  }
  .line{
    width:80%;
    height:1px;
    background-color: rgb(147, 146, 146);
    margin:1%;
  }
  .label{
    margin:0;
  }
  .item-list{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-box {
    margin:auto;
    height:93%;
    width:60vw;
    padding:10px;
    overflow: hidden;
    background: #dbdbdb9d;
    border-radius: 10px;
    
  }
  .bio{
    width:80%;
    font-size:1rem;
  }
  .header-exit{
    width:100%;
  }
  .x-btn{
    background-image: url("../assets/pre-exit.png");
    background-position: center center;
    background-size: cover;
    margin-left: auto;
    margin-bottom:5px;
    margin-right: 0;
    height: 15px;
    width:15px;
  }
  .x-btn:hover{
    background-image: url("../assets/exit-hover.png");
    background-position: center center;
    background-size: cover;
  }
  .back-border{
    height: 80vh;
    padding:10px;
    border-radius: 8px;
    background: rgb(88, 88, 88);
  }
  .middle {
    width:100%;
    height:70%;
    font-size: 1rem;
  }
  .gm{
    font-family: Skranji;
    font-size: 2.5rem;
  }
  .job {
    font-family: Ruda;
    font-size:1.4rem;
  
  }
  