.content {
    width: 100%;
    height: 100%;
    padding:3%;
    overflow: auto;
  }
  .main-box {
    margin:auto;
    height:92%;
    width:60vw;
    padding:10px;
    overflow: hidden;
    background: #dbdbdb9d;
    border-radius: 10px;
    
  }
  .bio{
    width:80%;
    font-size:1rem;
  }
  .header-exit{
    width:100%;
  }
  .x-btn{
    background-image: url("../assets/pre-exit.png");
    background-position: center center;
    background-size: cover;
    margin-left: auto;
    margin-right: 0;
    height: 15px;
    width:15px;
  }
  .x-btn:hover{
    background-image: url("../assets/exit-hover.png");
    background-position: center center;
    background-size: cover;
  }
  .back-border{
    height: 80vh;
    background: #ffffffb4;
  }
  .middle {
    width:100%;
    height:100%;
    font-size: 1rem;
  }
  .gm{
    font-family: Skranji;
    font-size: 2.5rem;
  }
  .job {
    font-family: Ruda;
    font-size:1.4rem;
  
  }
  