.back-drop-container {
  margin-top: 5%;
  height: 100vh;
  width: 100vw;
  background-color: #A1A1A1;
}
.back-drop-container-light {
  margin-top: 5%;
  height: 100vh;
  width: 100vw;
  background-color: #E7E7E7;
}

