.Scaled-mail {
  background-image: url("../assets/icons/mailW.png");
  background-position: center center;
  background-size: cover;
  height: 90%;
  width: 80%;
  margin: auto;
}
.Scaled-home {
    background-image: url("../assets/icons/houseW.png");
    background-position: center center;
    background-size: cover;
    height: 90%;
    width: 80%;
    margin: auto;
  }
.Scaled-folder {
  background-image: url("../assets/icons/folderW.png");
  background-position: center center;
  background-size: cover;
  height: 90%;
  width: 80%;
  margin: auto;
}
.Scaled-tools {
  background-image: url("../assets/icons/toolsW.png");
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 80%;
  margin: auto;
}
.selected-page-box {
  color: white;
  background-color: #ffffff3f;
  padding: 20px;
  width: 12%;
  height: 21%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  margin-left: 8%;
  
}
.selected-page-box-light {
  color: white;
  background-color: #cfcfcfe1;
  padding: 20px;
  width: 12%;
  height: 21%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  margin-left: 8%;
}
