/* REFACTOR: Can make these condensed by combining styles and making classes dynamic */
.selected-tab-content {
  position: relative;
  font-size: 1.2rem;
  border-radius: 8px;
  bottom:90px;
  height: 70vh;
  width: 65vw;
  box-shadow: 3px 5px 5px 3px rgb(129, 129, 129);
  background-color: #d9d9d97c;
}
.selected-tab-content-light {
  position: relative;
  font-size: 1.2rem;
  border-radius: 8px;
  bottom:90px;
  height: 70vh;
  width: 65vw;
  box-shadow: 3px 5px 5px 3px rgb(158, 158, 158);
  background-color: #ffffffe1;
}
.keno-bg {
  background-image: url("../assets/keno.gif");
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 5px 2px rgb(139, 139, 139);
  height: 55%;
  width: 55%;
  border-radius: 5px;
  margin: auto;
}
.fantasy-bg {
  background-image: url("../assets/fantasyMarkets.gif");
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 5px 2px rgb(139, 139, 139);
  height: 55%;
  width: 55%;
  border-radius: 5px;
  margin: auto;
}
.apifun-bg {
  background-image: url("../assets/apifun.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 5px 2px rgb(139, 139, 139);
  height: 55%;
  width: 55%;
  border-radius: 5px;
  margin: auto;
}
.blockchain-bg {
  background-image: url("../assets/blockhainLuc.gif");
  background-position: center center;
  box-shadow: 0px 0px 5px 2px rgb(139, 139, 139);
  background-size: cover;
  height: 55%;
  width: 55%;
  border-radius: 5px;
  margin: auto;
}
.aboutme-bg {
  background-image: url("../assets/aboutMe.png");
  background-position: center center;
  box-shadow: 0px 0px 5px 2px rgb(165, 165, 165);
  background-size: cover;
  height: 41%;
  width: 37%;
  border-radius: 5px;
  margin: auto;
}
.tab-description {
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}
.tab-title {
  padding: 2%;
  font-size: 1.1rem;
  font-weight: 800;
}
