.tabMenu{
    background-color: #A1A1A1;
    width: 20%;
    padding:2%;
    margin-left:4%;
  }
  .tabMenu-light{
    background-color: #E7E7E7;
    width: 20%;
    padding:2%;
    margin-left:4%;
  }