.projects-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:70vw;
    height:92%;
    justify-items: center;
    flex-wrap: wrap;
    padding:10px;
    overflow: scroll;
    border-radius: 10px;
    background:#dbdbdb9d;
  }
  .project{
    width:90%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .header-exit{
    width:100%;
  }
  .x-btn{
    background-image: url("../assets/pre-exit.png");
    background-position: center center;
    background-size: cover;
    margin-left: auto;
    margin-right: 0;
    
    height: 15px;
    width:15px;
  }
  .x-btn:hover{
    background-image: url("../assets/exit-hover.png");
    background-position: center center;
    background-size: cover;
  }
  .projects-box {
    height:80vh;
   
    position: absolute;
    left:20%;
    padding:10px;
    border-radius:10px;
    margin:auto;
    background: rgb(88, 88, 88);
    
  }
  .p1{
    background-image: url("../assets/keno.gif");
    background-position: center center;
    background-size: cover;
    border-radius:10px;
    border:none;
    height:250px;
    width:100%;
  }
  .p2{
    background-image: url("../assets/fantasyMarkets.gif");
    background-position: center center;
    background-size: cover;
    border-radius:10px;
    border:none;
    height:250px;
    width:100%;
  }
  .p3{
    background-image: url("../assets/blochainLuc.gif");
    background-position: center center;
    background-size: cover;
    border-radius:10px;
    border:none;
    height:250px;
    width:100%;
  }
  .p4{
    background-image: url("../assets/Speedrun.png");
    background-position: center center;
    background-size: cover;
    border-radius:10px;
    border:none;
    height:250px;
    width:100%;
  }
  .projects-flex-container > div {
    flex: 50%;
  }
  .project-description{
    font-size:1rem;
    width:80%;
  }
  .tech-used{
    font-size: .8rem;
    display:flex;
    text-align: center;
    width:80%;
    padding:1%;
  }
  .vue{
    padding:5px;
    background:rgb(20, 171, 20);
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .firebase{
    padding:5px;
    background:rgb(204, 129, 23);
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .node{
    padding:5px;
    background:rgb(23, 204, 86);
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .react{
    padding:5px;
    background:#52b5d1;
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .redux{
    padding:5px;
    background:#764abc;
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .css{
    padding:5px;
    background:#c9c54e;
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .solidity{
    padding:5px;
    background:#2f2f2f;
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .hardhat{
    padding:5px;
    background:#cdd033;
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .ethers{
    padding:5px;
    background:#2535a0;
    margin:5px;
    color:white;
    border-radius:5px;
  }
  .opt{
    font-size:.9rem;
    padding:8px;
    background:#333333;
    margin:5px;
    cursor:pointer;
    color:rgb(107, 107, 107);
    border-radius:25px;
    transition: .2s ease-in-out;
  }
  .opt:hover{
    background:rgb(246, 245, 245);
    color:rgb(94, 94, 94);
  }
  .cleanLink{
    color: rgb(107, 107, 107);
    text-decoration: none;
  }
  .link2{
    color:blue;
  }
  .options{
    display:flex;
  }
  