.tabMenu {
  width: 20%;
  padding: 2%;
  margin-left: 4%;
}
.tabMenu-light {
  width: 20%;
  padding: 2%;
  margin-left: 4%;
}

@media (max-width: 768px) {
  .tabMenu {
    width: 100%;
    margin-left: 0;
  }
}
